@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {

	font-family: metropolis-extra-bold-italic;

	src: url(./fuentes/metropolis.extra-bold-italic.otf);
}

@font-face {

	font-family: Metropolis-Bold;

	src: url(./fuentes/Metropolis-Bold.otf);
}

@font-face {

	font-family: Metropolis-Light;

	src: url(./fuentes/Metropolis-Light.otf);
}

@font-face {

	font-family: Metropolis-Regular;

	src: url(./fuentes/Metropolis-Regular.otf);
}

@font-face {

	font-family: Mula-ExtraLight;

	src: url(./fuentes/Mula-ExtraLight.otf);
}

@font-face {

	font-family: MulaR-Bold;

	src: url(./fuentes/MulaR-Bold.otf);
}

@font-face {

	font-family: MulaR-Regular;

	src: url(./fuentes/MulaR-Regular.otf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background: rgb(255, 255, 255);
	font-family: 'Metropolis-Regular';
	height: auto;
}

/* Barra de navegacion principal */
header {
	width: 100%;
	height: 100px;
	background-color: #ffffff;
	box-shadow: 1px 2px 5px rgb(175, 175, 175);
}

.interior {
	max-width: 100%;
	padding: 0 px;
	margin: auto;
}

.logo {
	float: left;
	padding: 5px 50px 0;
}

.logo img {
	height: 80px;
}

.logo img:hover {
	transform: scale(1.1);
}

.navegacion {
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
}

.navegacion ul {
	list-style: none;
	padding: 0 10px;
}

.navegacion ul li {
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;



}

.navegacion ul li:hover {
	transform: scale(1.0);

}

.navegacion ul li a {
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 15px;
	transition: .3s linear;


}

.hijos {
	font-size: 8px;
}

.navegacion ul li a:hover {
	color: #2007ff;
	transform: scale(1.1);
	font-family: 'Metropolis-Light', sans-serif;
}

/* cuadro de submenus */

.navegacion ul li:hover .hijos {
	display: block;
	width: 200%;
	margin-top: 10px;
	border-top: solid rgb(175, 175, 175);
	box-shadow: 1px 2px 5 rgb(175, 175, 175);


}

.navegacion .submenu .hijos {
	display: none;
	background: rgb(255, 255, 255);
	position: absolute;
	width: 100%;


}

.navegacion .submenu .hijos li {
	display: block;
	overflow: hidden;
	border-bottom: none;
}

.navegacion .submenu .hijos li a {
	display: block;
}

.titulo1 {
	text-align: center;
	justify-content: center;
	margin-top: 50px;
	font-size: 2vw;
	font-family: Metropolis-Bold;
}

.select1 {
	box-sizing: border-box;
	width: 50%;
	padding: 5px;
	justify-content: center;
	margin-bottom: 30px;
	border-radius: 5px;

}

.select2 {
	box-sizing: border-box;
	width: 50%;
	padding: 5px;
	justify-content: center;
	margin-bottom: 30px;
	border-radius: 5px;
}

.grid {
	display: grid;
	grid-template-columns: 50% 50%;
	margin-top: 100px;

}

.grid div {
	justify-content: center;
	margin-top: 30px;
	justify-items: center;
	text-align: center;
	margin-top: 30px
}

input {
	box-sizing: border-box;
	width: 50%;
	padding: 5px;
	justify-content: center;
	margin-bottom: 0px;
	border-radius: 5px;
}
.Actividades{
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}

.cajaprincipal{
	text-align: center;
}
.boton1 input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgb(3, 46, 158);
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 20px;
    justify-content: center;
    margin-top: 30px;
    font-family: MulaR-Regular;
}

.boton1 input[type="submit"]:hover {
    cursor: pointer;
    background: rgb(175, 175, 175);
    color: rgb(0, 0, 0);
    justify-content: center;
    font-family: metropolis-extra-bold-italic;
}



 
